@import "tailwindcss";

body{
  background: #080808;
  color: white; 
}

.aboutScrollBar::-webkit-scrollbar {
  display: none;
}
.aboutScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

/* Change Color Afte Select */
.custom-menu .ant-menu-item-selected {
  background-color: #FF004F !important; /* Change active item color to red */
}